.cardList {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    justify-content: center;
}

.resultsHeader,
.loadingText 
{
    display: flex;
    justify-content: center;
    color: white;
    padding: 10px;
}

